{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
  <script>
    (function () {
      const logoLinks = document.querySelectorAll('[data-md-component="logo"]');
      for (const link of logoLinks) {
        link.href = ".";
      }
    })();
  </script>
{% endblock %}

{% block extrahead %}
  {{ super() }}
  <link rel="icon" href="{{ 'assets/logo_short_2.png' | url }}" type="image/png" sizes="32x32">
  <link rel="shortcut icon" href="{{ 'assets/favicon.ico' | url }}" type="image/x-icon">
{% endblock %}
