::: {.callout-tip}
::: {.content-visible when-format="html"}
Click the **</>** button in the menu at the top of this page to see the `.qmd` source code for this example.
:::

::: {.content-visible when-format="latex"}
The source code for this page is available at: <https://vincentarelbundock.github.io/calepin>
:::

::: {.content-visible when-format="typst"}
The source code for this page is available at: <https://vincentarelbundock.github.io/calepin>
:::

:::
