<a class="navbar-brand" href="{% if collection.pages and collection.pages[0].href %}{{ collection.pages[0].href }}{% else %}/{% endif %}">
  {% if collection.logo %}
  <img class="logo-light" src="/{{ collection.logo }}" alt="{{ collection.title | default(value='Logo') }}">
  {% if collection.logo_dark %}
  <img class="logo-dark" src="/{{ collection.logo_dark }}" alt="{{ collection.title | default(value='Logo') }}">
  {% endif %}
  {% elif collection.title %}{{ collection.title }}{% endif %}
</a>
