calepin/target
Cargo.lock

.claude
quarto_website/
*_files/
*_cache/
_calepin/
_astro/
node_modules/

# Rendered output
TODO.html
README.html
website/*.html
website/*.tex
website/*.typ
website/*.md
website/*.pdf
website/*_files/
bench/*.html
bench/*.tex
bench/*.typ
bench/*.md
bench/*.pdf
bench/*_files/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
