{%- if base == "html" %}
  <p class="author"><span class="author-name">{{name}}</span>{{superscripts}}{{corresponding}}{{orcid_link}}</p>
{%- elif base == "markdown" %}
{{name}}
{%- else %}
{{name}}{{superscripts}}{{corresponding}}
{%- endif %}