{%- if base == "html" %}
<pre><code class="output">{{output}}</code></pre>
{%- elif base == "latex" %}
\begin{outcode}
\begin{verbatim}
{{output}}
\end{verbatim}
\end{outcode}
{%- elif base == "typst" %}
#outbox[#raw("{{output}}", block: true)]
{%- else %}
```
{{output}}
```
{%- endif %}