<footer class="site-footer">
  <p>Built with <a href="https://vincentarelbundock.github.io/calepin">
    {% if clp.navbar.left and clp.navbar.left[0].icon %}
    <span class="footer-logo nav-icon" style="-webkit-mask-image: url({{ link(clp.navbar.left[0].icon) }}); mask-image: url({{ link(clp.navbar.left[0].icon) }});"></span>
    {% elif clp.navbar.left and clp.navbar.left[0].image %}
      {% if clp.navbar.left[0].image_dark == "invert" %}
    <img class="footer-logo invert-dark" src="{{ link(clp.navbar.left[0].image) }}" alt="Calepin">
      {% elif clp.navbar.left[0].image_dark %}
    <img class="logo-light footer-logo" src="{{ link(clp.navbar.left[0].image) }}" alt="Calepin">
    <img class="logo-dark footer-logo" src="{{ link(clp.navbar.left[0].image_dark) }}" alt="Calepin">
      {% else %}
    <img class="footer-logo" src="{{ link(clp.navbar.left[0].image) }}" alt="Calepin">
      {% endif %}
    {% else %}
    Calepin
    {% endif %}
  </a></p>
</footer>
