{% if clp.prev or clp.next %}
<nav class="page-nav" aria-label="Page navigation">
  {% if clp.prev %}
  <a href="{{ clp.prev.href }}" class="prev">
    {% include "icons/arrow-left.svg" %}
    <span>
      <span class="label">Previous</span><br>
      {{ clp.prev.text }}
    </span>
  </a>
  {% endif %}
  {% if clp.next %}
  <a href="{{ clp.next.href }}" class="next">
    <span>
      <span class="label">Next</span><br>
      {{ clp.next.text }}
    </span>
    {% include "icons/arrow-right.svg" %}
  </a>
  {% endif %}
</nav>
{% endif %}
