<div class="authors">
{% for a in cfg.authors %}
<p class="author">{{ a.name }}{%- if a.superscripts %}<sup>{{ a.superscripts }}</sup>{% endif %}{%- if a.corresponding %}<sup>*</sup>{% endif %}{%- if a.orcid_url %} <a href="{{ a.orcid_url }}" class="orcid">ORCID</a>{% endif %}</p>
{% endfor %}
{%- if cfg.affiliations %}
<div class="affiliations">
{% for a in cfg.affiliations %}<p class="affiliation">{%- if a.number %}<sup>{{ a.number }}</sup> {% endif %}{{ a.display }}</p>
{% endfor %}</div>
{%- endif %}
{%- for a in cfg.authors %}{% if a.corresponding and a.email %}
<p class="corresponding">* Corresponding author: <a href="{{ a.mailto }}">{{ a.email }}</a></p>
{%- endif %}{% endfor %}
</div>
