<!DOCTYPE html>
<html lang="{% if clp.lang %}{{ clp.lang }}{% elif clp.languages %}{{ clp.languages[0].abbreviation }}{% else %}en{% endif %}"{% if clp.dark_mode %} data-theme="light"{% endif %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if clp.title %}<title>{{ clp.title }}{% if clp.title %} — {{ clp.title }}{% endif %}</title>
  {% elif clp.title %}<title>{{ clp.title }}</title>{% endif %}
  {% if clp.abstract %}<meta name="description" content="{{ clp.abstract }}">{% endif %}
  {% if clp.favicon %}<link rel="icon" href="{{ link(clp.favicon) }}">{% endif %}
  <link rel="stylesheet" href="{{ link('assets/clp.css') }}">
  {{ clp.math }}
  {% block head_extra %}{% endblock %}
</head>
<body>
  <a href="#main-content" class="visually-hidden focusable">Skip to main content</a>
  {% include "navbar.html" %}

  <div class="site-container no-sidebar">

    <main id="main-content" class="content-main">
      <article>
        {% block content %}{% endblock %}
      </article>

      {% block page_nav %}{% endblock %}
    </main>

  </div>

  {% include "footer.html" %}
</body>
</html>
