<footer class="site-footer">
  <p>Built with <a href="https://vincentarelbundock.github.io/calepin">
    {% if collection.navbar.left and collection.navbar.left[0].icon %}
    <span class="footer-logo nav-icon" style="-webkit-mask-image: url(/{{ collection.navbar.left[0].icon }}); mask-image: url(/{{ collection.navbar.left[0].icon }});"></span>
    {% elif collection.navbar.left and collection.navbar.left[0].image %}
      {% if collection.navbar.left[0].image_dark == "invert" %}
    <img class="footer-logo invert-dark" src="/{{ collection.navbar.left[0].image }}" alt="Calepin">
      {% elif collection.navbar.left[0].image_dark %}
    <img class="logo-light footer-logo" src="/{{ collection.navbar.left[0].image }}" alt="Calepin">
    <img class="logo-dark footer-logo" src="/{{ collection.navbar.left[0].image_dark }}" alt="Calepin">
      {% else %}
    <img class="footer-logo" src="/{{ collection.navbar.left[0].image }}" alt="Calepin">
      {% endif %}
    {% else %}
    Calepin
    {% endif %}
  </a></p>
</footer>
