{% if collection.navbar.middle %}
<ul class="navbar-nav middle" id="navbar-menu">
  {% for item in collection.navbar.middle %}
  {% if not item.lang or item.lang == document.lang %}
    {% if item.children and item.text %}
  <li class="navbar-dropdown">
    <button class="navbar-dropdown-toggle" aria-expanded="false">
      {{ item.text }} {% include "icons/chevron-right.svg" %}
    </button>
    <ul class="navbar-dropdown-menu">
      {% for child in item.children %}
      <li><a href="{{ child.href | default(value='#') }}">
        {% if child.icon %}<span class="nav-icon" style="-webkit-mask-image: url({{ link(child.icon) }}); mask-image: url({{ link(child.icon) }});{% if child.width %} width: {{ child.width }};{% endif %}{% if child.height %} height: {{ child.height }};{% endif %}"></span> {% endif %}{{ child.text }}
      </a></li>
      {% endfor %}
    </ul>
  </li>
    {% elif item.children %}
      {% for child in item.children %}
  <li><a href="{{ child.href | default(value='#') }}">
    {% if child.icon %}<span class="nav-icon" style="-webkit-mask-image: url({{ link(child.icon) }}); mask-image: url({{ link(child.icon) }});{% if child.width %} width: {{ child.width }};{% endif %}{% if child.height %} height: {{ child.height }};{% endif %}"></span> {% endif %}{{ child.text }}
  </a></li>
      {% endfor %}
    {% else %}
  <li>
    <a href="{{ item.href | default(value='#') }}">
      {% if item.icon %}<span class="nav-icon" style="-webkit-mask-image: url({{ link(item.icon) }}); mask-image: url({{ link(item.icon) }});{% if item.width %} width: {{ item.width }};{% endif %}{% if item.height %} height: {{ item.height }};{% endif %}"></span> {% endif %}{{ item.text }}
    </a>
  </li>
    {% endif %}
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
