{% if collection.navbar.middle %}
<ul class="navbar-nav center" id="navbar-menu">
  {% for item in collection.navbar.middle %}
  <li{% if item.children %} class="navbar-dropdown"{% endif %}>
    {% if item.children %}
    <button class="navbar-dropdown-toggle" aria-expanded="false">
      {{ item.text }} {% include "icons/chevron-right.svg" %}
    </button>
    <ul class="navbar-dropdown-menu">
      {% for child in item.children %}
      <li><a href="{{ child.href | default(value='#') }}">
        {% if child.icon %}<span class="nav-icon" style="-webkit-mask-image: url(/{{ child.icon }}); mask-image: url(/{{ child.icon }});{% if child.width %} width: {{ child.width }};{% endif %}{% if child.height %} height: {{ child.height }};{% endif %}"></span> {% endif %}{{ child.text }}
      </a></li>
      {% endfor %}
    </ul>
    {% else %}
    <a href="{{ item.href | default(value='#') }}">
      {% if item.icon %}<span class="nav-icon" style="-webkit-mask-image: url(/{{ item.icon }}); mask-image: url(/{{ item.icon }});{% if item.width %} width: {{ item.width }};{% endif %}{% if item.height %} height: {{ item.height }};{% endif %}"></span> {% endif %}{{ item.text }}
    </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
