{% if collection.navbar.middle %}
<ul class="navbar-nav center" id="navbar-menu">
  {% for item in collection.navbar.middle %}
  <li{% if item.children %} class="navbar-dropdown"{% endif %}>
    {% if item.children %}
    <button class="navbar-dropdown-toggle" aria-expanded="false">
      {{ item.text }} {% include "icons/chevron-right.svg" %}
    </button>
    <ul class="navbar-dropdown-menu">
      {% for child in item.children %}
      <li><a href="{{ child.href | default(value='#') }}">
        {% if child.icon %}<img class="nav-icon" src="/assets/icons/{{ child.icon }}.svg" alt="{{ child.icon }}"> {% endif %}{{ child.text }}
      </a></li>
      {% endfor %}
    </ul>
    {% else %}
    <a href="{{ item.href | default(value='#') }}">
      {% if item.icon %}<img class="nav-icon" src="/assets/icons/{{ item.icon }}.svg" alt="{{ item.icon }}"> {% endif %}{{ item.text }}
    </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
