{%- if base == "html" %}
<aside class="appendix">
{{sections}}
</aside>
{%- elif base == "latex" %}
\appendix
\section*{Appendix}
{{sections}}
{%- elif base == "typst" %}
#pagebreak()
= Appendix
{{sections}}
{%- else %}
# Appendix

{{sections}}
{%- endif %}