{%- if base == "html" %}
<section class="appendix-section">
<h2>Citation</h2>
<p>{{content}}</p>
</section>
{%- elif base == "latex" %}
\subsection*{Citation}
{{content}}
{%- elif base == "typst" %}
== Citation
{{content}}
{%- else %}
## Citation

{{content}}
{%- endif %}