{%- if base == "html" %}
<div class="figure" id="fig-{{label}}" style="{{align_style}}">
{{image}}
<p class="caption">{{caption}}</p>
</div>
{%- elif base == "latex" %}
{{fig_begin}}{{fig_pos}}
{{align_style}}
{{image}}
{{caption_cmd}}
\label{{_lb}}fig-{{label}}{{_rb}}
{{fig_end}}
{%- elif base == "typst" %}
#figure({{image}}, caption: [{{caption}}]) <fig-{{label}}>
{%- else %}
![{{alt}}]({{path}})
{%- endif %}