{%- if base == "html" %}
<section class="appendix-section">
<h2>Funding</h2>
<ul>
{{items}}
</ul>
</section>
{%- elif base == "latex" %}
\subsection*{Funding}
\begin{itemize}
{{items}}
\end{itemize}
{%- elif base == "typst" %}
== Funding
{{items}}
{%- else %}
## Funding

{{items}}
{%- endif %}