{%- if base == "html" %}
<section class="appendix-section">
<h2>Reuse</h2>
<p>{{content}}</p>
</section>
{%- elif base == "latex" %}
\subsection*{Reuse}
{{content}}
{%- elif base == "typst" %}
== Reuse
{{content}}
{%- else %}
## Reuse

{{content}}
{%- endif %}