{%- if base == "html" %}
<aside class="appendix">
{{sections}}
</aside>
{%- elif base == "latex" %}
\appendix
\section*{ {{-label_appendix-}} }
{{sections}}
{%- elif base == "typst" %}
#pagebreak()
= {{label_appendix}}
{{sections}}
{%- else %}
# {{label_appendix}}

{{sections}}
{%- endif %}