{%- if base == "html" %}
<section class="appendix-section">
<h2>{{label_citation}}</h2>
<p>{{content}}</p>
</section>
{%- elif base == "latex" %}
\subsection*{ {{-label_citation-}} }
{{content}}
{%- elif base == "typst" %}
== {{label_citation}}
{{content}}
{%- else %}
## {{label_citation}}

{{content}}
{%- endif %}