{%- if base == "html" %}
{%- if filename %}
<div class="code-with-filename">
<div class="code-filename">{{filename}}</div>
{%- endif %}
<pre><code class="language-{{lang}} code">{{highlighted}}</code></pre>
{%- if filename %}
</div>
{%- endif %}
{%- elif base == "latex" %}
{%- if filename %}
\begin{codefilename}
\codefilenameheader{ {{-filename-}} }
{%- endif %}
\begin{srccode}
\begin{Verbatim}[commandchars=\\\{\}]
{{highlighted}}
\end{Verbatim}
\end{srccode}
{%- if filename %}
\end{codefilename}
{%- endif %}
{%- elif base == "typst" %}
{%- if filename %}
#block(stroke: 0.5pt + luma(180), radius: 3pt, clip: true)[
#block(width: 100%, fill: luma(240), inset: (x: 8pt, y: 4pt))[#text(size: 0.85em)[{{filename}}]]
{%- endif %}
#srcbox[#raw("{{code}}", block: true, lang: "{{lang}}")]
{%- if filename %}
]
{%- endif %}
{%- else %}
{%- if filename %}
**{{filename}}**

{%- endif %}
``` {{lang}}
{{code}}
```
{%- endif %}