{%- if base == "html" %}
<section class="appendix-section">
<h2>{{label_copyright}}</h2>
<p>{{content}}</p>
</section>
{%- elif base == "latex" %}
\subsection*{ {{-label_copyright-}} }
{{content}}
{%- elif base == "typst" %}
== {{label_copyright}}
{{content}}
{%- endif %}