{%- if base == "html" %}
<div class="{{classes}}"{% if id %} id="{{id}}"{% endif %}>
{{children}}
</div>
{%- elif base == "latex" %}
\begin{quote}
{{children}}
\end{quote}
{%- elif base == "typst" %}
#block(inset: 1em)[
{{children}}
]{% if id %} <{{id}}>{% endif %}
{%- else %}
> {{children}}
{%- endif %}