{%- if base == "html" %}
<section class="appendix-section">
<h2>{{label_funding}}</h2>
<ul>
{{items}}
</ul>
</section>
{%- elif base == "latex" %}
\subsection*{ {{-label_funding-}} }
\begin{itemize}
{{items}}
\end{itemize}
{%- elif base == "typst" %}
== {{label_funding}}
{{items}}
{%- else %}
## {{label_funding}}

{{items}}
{%- endif %}