{%- if keywords %}
{%- if base == "html" %}
<div class="keywords"><strong>Keywords:</strong> {{keywords}}</div>
{%- elif base == "latex" %}
\paragraph{Keywords} {{keywords}}
{%- elif base == "typst" %}
#text(weight: "bold")[Keywords:] {{keywords}}
{%- endif %}
{%- endif %}