{%- if base == "html" %}
<div class="landscape"{% if id %} id="{{id}}"{% endif %}>
{{children}}
</div>
{%- elif base == "latex" %}
\begin{landscape}
{{children}}
\end{landscape}
{%- elif base == "typst" %}
#page(flipped: true)[
{{children}}
]
{%- else %}
{{children}}
{%- endif %}