{%- if base == "html" %}
{%- if is_figure and id %}<div class="figure" id="{{id}}">
{% endif %}
{{rows}}
{%- if is_figure and caption %}<p class="caption">{{caption}}</p>
{% endif %}
{%- if is_figure and id %}</div>{% endif %}
{%- elif base == "latex" %}
{%- if is_figure %}\begin{ {{-fig_env-}} }{{fig_pos}}
\centering
{% endif %}
{{rows}}
{%- if is_figure and caption %}
\caption{ {{-caption-}} }
{% endif %}
{%- if is_figure and id %}\label{ {{-id-}} }
{% endif %}
{%- if is_figure %}\end{ {{-fig_env-}} }{% endif %}
{%- elif base == "typst" %}
{%- if is_figure %}#figure([
{% endif %}
{{rows}}
{%- if is_figure %}]{%- if caption %}, caption: [{{caption}}]{% endif %}){% if id %} <{{id}}>{% endif %}
{%- endif %}
{%- else %}
{{rows}}
{%- if caption %}
*{{caption}}*
{%- endif %}
{%- endif %}
