{%- if base == "html" %}
<section class="appendix-section">
<h2>Reuse</h2>
<p>{% if url %}<a href="{{url}}">{{text}}</a>{% else %}{{text}}{% endif %}</p>
</section>
{%- elif base == "latex" %}
\subsection*{Reuse}
{% if url %}{{text}} (\url{ {{-url-}} }){% else %}{{text}}{% endif %}
{%- elif base == "typst" %}
== Reuse
{% if url %}#link("{{url}}")[{{text}}]{% else %}{{text}}{% endif %}
{%- else %}
## Reuse

{% if url %}[{{text}}]({{url}}){% else %}{{text}}{% endif %}
{%- endif %}