{%- if base == "html" %}
<div class="theorem-env proof"{{id_attr}}>
<p class="thm-heading"><em>Proof.</em></p>
<div class="thm-body-italic">
{{children}}
</div>
<p class="qed">□</p>
</div>
{%- elif base == "latex" %}
\par\medskip\noindent\textit{Proof.}{{label}} {{children}} \hfill$\square$\medskip
{%- elif base == "typst" %}
#block(width: 100%, above: 1em, below: 1em)[_Proof._ {{children}} #h(1fr) □]{{label}}
{%- else %}
*Proof.* {{children}} □
{%- endif %}