{%- if base == "html" %}
<div class="theorem-env proof"{% if id %} id="{{id}}"{% endif %}>
<p class="thm-heading"><em>{{label_proof}}.</em></p>
<div class="thm-body-italic">
{{children}}
</div>
<p class="qed">□</p>
</div>
{%- elif base == "latex" %}
\par\medskip\noindent\textit{ {{-label_proof-}}.}{% if id %}\label{ {{-id-}} }{% endif %} {{children}} \hfill$\square$\medskip
{%- elif base == "typst" %}
#block(width: 100%, above: 1em, below: 1em)[_{{label_proof}}._ {{children}} #h(1fr) □]{% if id %} <{{id}}>{% endif %}
{%- else %}
*{{label_proof}}.* {{children}} □
{%- endif %}