{%- if class == "aside" %}
  {%- if base == "html" %}
<span{% if id %} id="{{id}}"{% endif %}{% if classes %} class="{{classes}}"{% endif %}>{{content}}</span>
  {%- elif base == "latex" %}
\marginpar{\footnotesize {{content}}}
  {%- elif base == "typst" %}
#place(right, dx: 1em)[#text(size: 0.8em)[{{content}}]]
  {%- else %}
{{content}}
  {%- endif %}
{%- else %}
  {%- if base == "html" %}
<span{% if id %} id="{{id}}"{% endif %}{% if classes %} class="{{classes}}"{% endif %}>{{content}}</span>
  {%- elif base == "latex" %}
\text{ {{-content-}} }
  {%- elif base == "typst" %}
[{{content}}]
  {%- else %}
{{content}}
  {%- endif %}
{%- endif %}