{%- if base == "html" %}
<h2>{{subtitle}}</h2>
{%- elif base == "latex" %}
\posttitle{\par\vskip 0.5em\large {{subtitle}}\end{center}}
{%- elif base == "typst" %}
#text(size: 13pt)[{{subtitle}}]
{%- endif %}