{%- set loc = cap_location | default("bottom") -%}
{%- if base == "html" %}
{%- if loc == "bottom" %}
<div class="table-div" id="{{id}}">
{{children}}
{%- if caption %}
<p class="table-caption">{{caption}}</p>
{%- endif %}
</div>
{%- else %}
<div class="table-div" id="{{id}}">
{%- if caption %}
<p class="table-caption">{{caption}}</p>
{%- endif %}
{{children}}
</div>
{%- endif %}
{%- elif base == "latex" %}
{%- if loc == "bottom" %}
{{tbl_begin}}
\centering
{{children}}
{{caption_cmd}}
{{label}}
\end{table}
{%- else %}
{{tbl_begin}}
\centering
{{caption_cmd}}
{{label}}
{{children}}
\end{table}
{%- endif %}
{%- elif base == "typst" %}
{%- if caption %}
#figure(kind: table, [
{{children}}
], caption: [{{caption}}]) {{label}}
{%- else %}
{{children}} {{label}}
{%- endif %}
{%- else %}
{%- if loc == "bottom" %}
{{children}}

: {{caption}}
{%- else %}
: {{caption}}

{{children}}
{%- endif %}
{%- endif %}