{%- set loc = cap_location | default("bottom") -%}
{%- if base == "html" %}
{%- if loc == "bottom" %}
<div class="table-div" id="{{id}}">
{{children}}
{%- if caption %}
<p class="table-caption">{{caption}}</p>
{%- endif %}
</div>
{%- else %}
<div class="table-div" id="{{id}}">
{%- if caption %}
<p class="table-caption">{{caption}}</p>
{%- endif %}
{{children}}
</div>
{%- endif %}
{%- elif base == "latex" %}
{%- if loc == "bottom" %}
\begin{{_lb}}table{{_rb}}{% if tbl_pos %}[{{tbl_pos}}]{% endif %}
\centering
{{children}}
{% if caption %}\caption{{_lb}}{{caption}}{{_rb}}{% endif %}
\label{{_lb}}{{id}}{{_rb}}
\end{{_lb}}table{{_rb}}
{%- else %}
\begin{{_lb}}table{{_rb}}{% if tbl_pos %}[{{tbl_pos}}]{% endif %}
\centering
{% if caption %}\caption{{_lb}}{{caption}}{{_rb}}{% endif %}
\label{{_lb}}{{id}}{{_rb}}
{{children}}
\end{{_lb}}table{{_rb}}
{%- endif %}
{%- elif base == "typst" %}
{%- if caption %}
#figure(kind: table, [
{{children}}
], caption: [{{caption}}]) <{{id}}>
{%- else %}
{{children}} <{{id}}>
{%- endif %}
{%- else %}
{%- if loc == "bottom" %}
{{children}}

: {{caption}}
{%- else %}
: {{caption}}

{{children}}
{%- endif %}
{%- endif %}