{% set calepin_theme_storage_key = "calepin-academic-theme" %}
{% set calepin_theme_param = "" %}
{% include "partials/site-head.html" %}
{{ doc.body_open }}
{% include "partials/site-nav.html" %}
    <div class="academic-page calepin-reading-page{% if site.toc %} has-toc{% endif %}">
        {% include "partials/site-nav-toc.html" %}
        <main class="academic-main calepin-content" data-pagefind-body>
            {{ doc.body }}
        </main>
    </div>
{% include "partials/site-nav-prev-next.html" %}
{% include "partials/site-footer.html" %}
{% include "partials/site-search.html" %}
{% include "partials/theme-scripts.html" %}
{{ doc.body_close }}
