{% if format == "html" %}<div class="abstract">
{{abstract}}
</div>{% elif format == "latex" %}\begin{abstract}
{{abstract}}
\end{abstract}{% elif format == "typst" %}#pad(x: 1cm)[
  #align(center)[#smallcaps[Abstract]]
  #v(0.5em)
  #text(size: 9.5pt)[{{abstract}}]
]{% endif %}