{%- if format == "html" %}
<div class="{{classes}}"{{id_attr}}>
{{children}}
</div>
{%- elif format == "latex" %}
\begin{quote}
{{children}}
\end{quote}
{%- elif format == "typst" %}
#block(inset: 1em)[
{{children}}
]{{label}}
{%- else %}
> {{children}}
{%- endif %}